{% extends "pizzas/base.html" %}

{% block content %}


<!-- Set the action argument as the URL of the login page -->
<form action="{% url 'users:register' %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">Register</button>
    <!-- include a hidden form element, 'next'; the value argument
            tells Django where to redirect the user after they've logged in successfully -->
    <input type="hidden" name="next" value="{% url 'pizzas:index' %}" />
</form>

{% endblock content %}