{% extends "pizzas/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Create custom pizzas!</h1>

    <p class="lead">Build a custom pizza with unique toppings! Choose which pizza
        you want and select from your favorite toppings. Enjoy!</p>


</div>

<P>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Click here to register!
        &raquo;</a>
    <img src="https://pngimg.com/uploads/pizza/pizza_PNG43984.png" alt="Pizza">


</P>
{% endblock page_header %}